{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
  <form method="post" novalidate>
    {% csrf_token %}
    <div class="form-row">
      <div class="form-group col-md-2 mb-0">
        {{ form.study_id|as_crispy_field }}
      </div>
      <div class="form-group col-md-2 mb-0">
        {{ form.age|as_crispy_field }}
      </div>
      <div class="form-group col-md-2 mb-0">
        {{ form.sex|as_crispy_field }}
      </div>
      <div class="form-group col-md-2 mb-0">
        {{ form.race|as_crispy_field }}
      </div>
      <div class="form-group col-md-2 mb-0">
        {{ form.ethnicity|as_crispy_field }}
      </div>
      <div class="form-group col-md-2 mb-0">
        {{ form.vital_status|as_crispy_field }}
      </div>
      <div class="form-group col-md-2 mb-0">
        {{ form.neighborhood_adi_category|as_crispy_field }}
      </div>
      <div class="form-group col-md-2 mb-0">
        {{ form.current_pcp_id|as_crispy_field }}
      </div>
      <div class="form-group col-md-2 mb-0">
        {{ form.last_visit_encounter_year|as_crispy_field }}
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
  </form>
{% endblock %}
